<% layout("/Layouts/boilerplate")%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h2>Edit Your Listing</h2>
    <h3></h3>
    <form method="POST" action="/listing/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title for Property </label>
            <input name="title" value="<%=listing.title%>" type="text"  required class="form-control">
        
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Enter the Description:</label>
        <input value="<%=listing.description%>" name="description" type="text" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Enter image URL :</label>
        <input value="<%=listing.image%>" name="image" type="text" class="form-control" required>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4" >  
        <label for="price" class="form-label">Enter the Price</label>
        <input value="<%=listing.price%>"  name="price" type="number" class="form-control" required>
        <div class="invalid-feedback">Please enter a Valid price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Enter the Country:</label>
            <input value="<%=listing.country%>" name="country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a Country name</div>
        </div>
    </div>
        <div class="mb-3">
        <label for="location" class="form-label">Enter the Location</label>
        <input value="<%=listing.location%>" name="location" type="text" class="form-control" required>
        </div>
        <br>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    <br>
</div>
</div>
<script src="/js/scripts.js"></script>