<% layout("Layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3>Listing Details </h3>
    </div>
        <div class="card col-6 offset-3 show-card">
            <!-- <div class="card" style="width: 18rem;"> -->
                <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing Image.">
                <div class="card-body">
                    <p class="card-text"><strong><%=listing.title%></strong></p>
                    <br><%=listing.description%> <br><br>
                    &#8377;<%=listing.price.toLocaleString("en-IN")%> <br>
                    <%=listing.location%> <br>
                    <%=listing.country%> <br>
                    <img src="https://maps.geoapify.com/v1/staticmap?style=osm-bright-smooth&width=600&height=400&center=lonlat%3A-122.29009844646316%2C47.54607447032754&zoom=14.3497&marker=lonlat%3A-122.29188334609739%2C47.54403990655936%3Btype%3Aawesome%3Bcolor%3A%23bb3f73%3Bsize%3Ax-large%3Bicon%3Apaw%7Clonlat%3A-122.29282631194182%2C47.549609195001494%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome%7Clonlat%3A-122.28726954893025%2C47.541766557545884%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome&apiKey=95318f7cf4bc477dbc001cdb918335f6" alt="Location">
                </div>
            <!-- </div> -->
        </div>
        <br>
        
</div>

<div class="btns">
    <a href="/listing/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit </a><br>  


    <form method="POST" action="/listing/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark  offset-5">DELETE</button>
    </form>
</div>
<br>
